---
title: Title.The blog .
layout: layouts/home.njk
description: This website is where I will be blogging once in a while , I just dont know when .
image: 
date: Last Modified
---
<p>
  My name is Hrishikesh and I am currently preparing for undergrad exams. I will be writing on this blog once in a while.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>