<!-- ad-banner.njk -->
<div class="ad-banner">
  <!-- Insert your ad code here -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8682474791709083"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>